<div class="loginDiv" *ngIf="( authComponent.user | async) as obs; else login">{{obs.email}} - {{obs.uid}}
  <br/><br/>
  <button class="btn btn-secondary" (click)="authComponent.logout()">OUT</button>
  <br/><br/>
</div>
<ng-template #login>
  <div class="loginDiv">
    <br/><br/>
    <button class="btn btn-primary" (click)="authComponent.login()">
      <i class="far fa-envelope"></i>
      Email Login</button>
    <br/><br/>
    <button class="btn btn-danger" (click)="authComponent.glogin()">
      <i class="fab fa-google"></i>
      Google Login
    </button>
    <button class="btn btn-success" (click)="dbApp.altausuario(user.email, user.uid)"><i class="fas fa-check"></i> ALTA</button>
    <button class="btn btn-danger" (click)="dbApp.bajausuario(user.uid)"><i class="far fa-trash-alt"></i> BAJA</button>
  </div>

</ng-template>

<h1>Lista de la compra:</h1>

<div *ngFor="let producto of productos index as i;">
    <button  *ngIf="!productos[i].comprado" class="myButton" (click)="onClickMe(i)" >{{productos[i].nombre}}</button>
</div>

<hr>

<h1>Productos comprados:</h1>
<div *ngFor="let producto of productos index as i;">
  <button  *ngIf="productos[i].comprado" class="myButton2" (click)="onClickMe2(i)" >{{productos[i].nombre}}</button>
</div>
